<%= render "layouts/overdue" %>

<div class="row mb-2">

    <h2> Top Ten Sharers </h2>
    <%=column_chart User.top_10_loaners, ytitle: "Number of Items Shared", xtitle: "User Name", library: { animation: {easing: 'easeOutQuad', duration: 1000}}  %>

    <h2> Loans By Day of Week </h2>
    <%= column_chart Loan.group_by_day_of_week(:loaned, format: "%a").count, ytitle: "Loans Made", xtitle: "Day of Week", library: { animation: {easing: 'easeOutQuad', duration: 1000}} %>
</div>
<div class="row mb-2">
  <div class="col-md-6">
    <h2> Loans by Item Type </h2>
    <%= pie_chart Item.by_type.count, legend: "bottom", library: { animation: {easing: 'easeOutQuad', duration: 1000}} %>
  </div>
  <div class="col-md-6">
    <h2> Loans By Item Type By Day
    <%= line_chart Loan.loan_type_array, legend: "bottom", library: { animation: {easing: 'easeOutQuad', duration: 1000}, spanGaps: true}%>
  </div>
