<%= render "layouts/overdue" %>

<h1>All Users</h1>

<% @users.each_slice(3) do |users| %>
    <div class="row top-buffer"></div>
    <div class="row">
      <% users.each do |user| %>
        <div class="col-md-4" >
          <div class="card mb-4 box-shadow h-100">
            <img class="card-img-top" src=<%= user.avatar %>>
            <div class="card-body">
              <p class="card-text"><%= user.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", user, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
<div class="row top-buffer"></div>
<%= paginate @users, theme: 'twitter-bootstrap-4' %>
