<h1>All Users</h1>
<h2> Top Ten Sharers </h2>
<%=column_chart User.top_10_loaners, ytitle: "Number of Items Shared", xtitle: "User Name" %>
<h2> Loans By Day Of The Week </h2>
<%= column_chart Loan.group_by_day_of_week(:loaned, format: "%a").count, ytitle: "Loans Made", xtitle: "Day of Week" %>
<h2> Loans by Item Type </h2>
<%= pie_chart Item.by_type.count %>

<%= line_chart Loan.loan_type_array %>


<% @users.each_slice(3) do |users| %>
    <div class="row">
      <% users.each do |user| %>
        <div class="col-md-4" >
          <div class="card mb-4 box-shadow h-100">
            <img class="card-img-top" src=<%= user.avatar %>>
            <div class="card-body">
              <p class="card-text"><%= user.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", user, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
<%= paginate @users, theme: 'twitter-bootstrap-4' %>
