<img src=<%= @user.avatar %>><br/>
<h3><%= link_to @user.name, users_path %></h3>
Email: <%= @user.email %><br>
Phone Number: <%= @user.phone %><br/>
Address: <%= @user.street_address %>, <%= @user.city %>, <%= @user.state %> <%= @user.zipcode %><br/>
<br/>

Shared Items:
<ul>
  <% @user.items.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul>

Lent Items:
<ul>
  <% @user.borrowed_items.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul>

<%# NOTE: Make sure this creates with current user_id %>
<%= form_tag new_item_path, method: :get do %>
  <%= submit_tag "Add an Item" %>
<% end %>
