<%= render "errors" %>
<%= render "layouts/overdue" %>

<img src=<%= @user.avatar %>><br/>
<h1><%= @user.name %></h1>
<b>Email:</b> <%= mail_to "#{@user.email}", @user.email %><br>
<% if @user.phone && @user.phone != "" %>
<b>Phone Number:</b> <%= @user.phone %><br/>
<% end %>

<% if @user.street_address && @user.street_address != "" && @user.city && @user.city != "" && @user.state && @user.state != "" && @user.zipcode && @user.zipcode != "" %>
<b>Address:</b> <%= @user.street_address %>, <%= @user.city %>, <%= @user.state %> <%= @user.zipcode %><br/>
<% end %>
<br/>
<% if current_user.id == @user.id %>
  <%= link_to "Edit Profile", edit_user_path, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
  <%= link_to "My Loans", user_loans_path(@user), :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
<% end %>
<hr>
<h1>Shared Items</h1>
<% if !@user.items.empty? %>
<ul>
  <% @user.items.each do |item| %>
    <li><%= link_to item.title, item %></li>
  <% end %>
</ul>
<% else %>
  <p>Currently not sharing any items.</p>
<% end %>

<% if current_user.id == @user.id %>
  <%= link_to 'Add Book', new_user_book_path(@user), :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
  <%= link_to 'Add Game', new_user_game_path(@user), :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
  <%= link_to 'Add Movie', new_user_movie_path(@user), :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
  <%= link_to 'Add Household Item', new_user_household_path(@user), :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
  <%= link_to 'Add Clothing Item', new_user_clothing_path(@user), :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
<% end %>
