<img src=<%= @user.avatar %>><br/>
<h3><%= link_to @user.name, users_path %></h3>
Email: <%= @user.email %><br>
Phone Number: <%= @user.phone %><br/>
Address: <%= @user.street_address %>, <%= @user.city %>, <%= @user.state %> <%= @user.zipcode %><br/>
<br/>

Shared Items:
<ul>
  <% @user.items.each do |item| %>
    <li><%= link_to item.title, item %></li>
  <% end %>
</ul>

Lent Items:
<ul>
  <% @user.borrowed_items.each do |item| %>
    <li><%= link_to item.title, item %></li>
  <% end %>
</ul>
<hr>

<%= link_to 'Add Book', new_user_book_path(@user) %><br>
<%= link_to 'Add Game', new_user_game_path(@user) %><br>
<%= link_to 'Add Movie', new_user_movie_path(@user) %><br>
<%= link_to 'Add Household Item', new_user_household_item_path(@user) %><br>
<%= link_to 'Add Clothing Item', new_user_clothing_item_path(@user) %>
