<h1>My Loans</h1>

<hr>
<% if @loans %>

<h2>Outstanding Loans</h2>
<% @loans.each do |loan| %>
  <% if !loan.item.is_available? && loan.returned == nil %>
    <img src="<%= loan.item.image %>"><br>
    <%= link_to loan.item.title, loan.item %><br>
    Date Borrowed: <%= loan.loaned %><br></br>

    <%= form_tag return_path, method: :post do %>
    <%= hidden_field_tag 'id', loan.id %>
      <%= submit_tag "Return Item" %>
    <% end %>
  <% end %>
<% end %>

<hr>
<h2>Previous Loans</h2>
<% @loans.each do |loan| %>
  <% if loan.item.is_available? || loan.returned != nil %>
    <img src="<%= loan.item.image %>"><br>
    <%= link_to loan.item.title, loan.item %><br>
    Date Borrowed: <%= loan.loaned %><br>
    Date Returned: <%= loan.returned %><br></br>
  <% end %>
<% end %>

<% else %>
  <p>You have no loans! Click <%= link_to "here", items_path %> to get started!</p> 
<% end %>
