<%= render "layouts/overdue" %>

<h1>All Books</h1>

<% @books.each_slice(3) do |books| %>
    <div class="row">
      <% books.each do |book| %>
        <div class="col-md-4" >
          <div class="card mb-4 box-shadow h-100">
            <img class="card-img-top" src=<%= book.image %>>
            <div class="card-body">
              <p class="card-text lead"><%= book.title %></p>
              <p class="card-text">Average Rating: <%= book.get_average_rating %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", book, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <% if book.is_available? %>
                  <small class="text-primary">Available</small>
                <% else %>
                  <% if book.get_loans.any? %>
                    <% if book.get_loans.last.overdue %>
                      <small class="text-danger">Overdue</small>
                    <% end %>
                  <% end %>
                  <small class="text-muted">Check back on <%= book.get_loans.last.due_date %></small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>

<%= paginate @books, theme: 'twitter-bootstrap-4' %>
