<%= render "layouts/overdue" %>

<h1>Books</h1>
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-md-3 col-md-offset-1" >
          <div class="card mb-3 box-shadow h-100">
            <img class="card-img-top" src=<%= book.image %>>
            <div class="card-body">
              <span class="card-text lead"><%= book.title %></span>
              <p><small class="card-text"><span class="text-secondary">Average Rating:</span> <%= book.get_average_rating %></small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", book, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <% if book.is_available? %>
                  <small class="text-primary">Available</small>
                <% else %>
                  <small class="text-muted">Check back later!</small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<br>
<%= link_to 'See All Books', books_path, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
<hr/>
<h1>Games</h1>
    <div class="row">
      <% @games.each do |game| %>
        <div class="col-md-3 col-md-offset-1" >
          <div class="card mb-3 box-shadow h-100">
            <img class="card-img-top" src=<%= game.image %>>
            <div class="card-body">
              <span class="card-text lead"><%= game.title %></span>
              <p><small class="card-text"><span class="text-secondary">Average Rating:</span> <%= game.get_average_rating %></small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", game, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <% if game.is_available? %>
                  <small class="text-primary">Available</small>
                <% else %>
                  <small class="text-muted">Check back later!</small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<br>
<%= link_to 'See All Games', games_path, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
<hr/>
<h1>Movies</h1>
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-md-3 col-md-offset-1" >
          <div class="card mb-3 box-shadow h-100">
            <img class="card-img-top" src=<%= movie.image %>>
            <div class="card-body">
              <span class="card-text lead"><%= movie.title %></span>
              <p><small class="card-text"><span class="text-secondary">Average Rating:</span> <%= movie.get_average_rating %></small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", movie, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <% if movie.is_available? %>
                  <small class="text-primary">Available</small>
                <% else %>
                  <small class="text-muted">Check back later!</small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<br>
<%= link_to 'See All Movies', movies_path, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>

<hr/>
<h1>Household Items</h1>

    <div class="row">
      <% @household_items.each do |item| %>
        <div class="col-md-3 col-md-offset-1" >
          <div class="card mb-3 box-shadow h-100">
            <img class="card-img-top" src=<%= item.image %>>
            <div class="card-body">
              <span class="card-text lead"><%= item.title %></span>
              <p><small class="card-text"><span class="text-secondary">Average Rating:</span> <%= item.get_average_rating %></small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", item, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <% if item.is_available? %>
                  <small class="text-primary">Available</small>
                <% else %>
                  <small class="text-muted">Check back later!</small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

<br>
<%= link_to 'See All Household Items', households_path, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>

<hr/>
<h1>Clothing Items</h1>
    <div class="row">
      <% @clothing_items.each do |item| %>
        <div class="col-md-3 col-md-offset-1" >
          <div class="card mb-3 box-shadow h-100">
            <img class="card-img-top" src=<%= item.image %>>
            <div class="card-body">
              <span class="card-text lead"><%= item.title %></span>
              <p><small class="card-text"><span class="text-secondary">Average Rating:</span> <%= item.get_average_rating %></small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", item, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <% if item.is_available? %>
                  <small class="text-primary">Available</small>
                <% else %>
                  <small class="text-muted">Check back later!</small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<br>
<%= link_to 'See All Clothing Items', clothings_path, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
