<h1>Books</h1>
<% @books.each_slice(5) do |books| %>
    <div class="row">
      <% books.each do |book| %>
        <div class="col-md-2 col-md-offset-1" >
          <div class="card mb-2 box-shadow h-100">
            <img class="card-img-top" src=<%= book.image %>>
            <div class="card-body">
              <p class="card-text"><%= book.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", book, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
<hr/>
<h1>Games</h1>
<% @games.each_slice(5) do |games| %>
    <div class="row">
      <% games.each do |game| %>
        <div class="col-md-2 col-md-offset-1" >
          <div class="card mb-2 box-shadow h-100">
            <img class="card-img-top" src=<%= game.image %>>
            <div class="card-body">
              <p class="card-text"><%= game.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", game, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
<hr/>
<h1>Movies</h1>
<% @movies.each_slice(5) do |movies| %>
    <div class="row">
      <% movies.each do |movie| %>
        <div class="col-md-2 col-md-offset-1" >
          <div class="card mb-2 box-shadow h-100">
            <img class="card-img-top" src=<%= movie.image %>>
            <div class="card-body">
              <p class="card-text"><%= movie.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", movie, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
<hr/>
<h1>Household Items</h1>
<% @household_items.each_slice(5) do |items| %>
    <div class="row">
      <% items.each do |item| %>
        <div class="col-md-2 col-md-offset-1" >
          <div class="card mb-2 box-shadow h-100">
            <img class="card-img-top" src=<%= item.image %>>
            <div class="card-body">
              <p class="card-text"><%= item.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", item, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
<hr/>
<h1>Clothing Items</h1>
<% @clothing_items.each_slice(5) do |items| %>
    <div class="row">
      <% items.each do |item| %>
        <div class="col-md-2 col-md-offset-1" >
          <div class="card mb-2 box-shadow h-100">
            <img class="card-img-top" src=<%= item.image %>>
            <div class="card-body">
              <p class="card-text"><%= item.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "view", item, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
