<h1>New Item</h1>

<%= render "book_form" %>

<H1>New Game</H1>
<%= render "game_form" %>

<H1>New Movie</H1>
<%= render "movie_form" %>

<H1>New Household Item</H1>
<%= render "household_form" %>

<H1>New Clothing Item</H1>
<%= render "clothing_form" %>
