<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= e %><br>
  <% end %>
<% end %>

<h3><%= link_to @item.title, items_path %></h3>
<img src="<%= @item.image %>"><br/>
Owner Name: <%= link_to @user.name, @user %><br/>
Author: <%= @item.author %><br/>
Genre: <%= @item.genre %><br/>
Description: <%= @item.description %>
<br/>

<br/>
<% if @item.is_available? %>
  <%= form_tag borrow_path, method: :post do %>
  <%= hidden_field_tag 'loan[item_id]', @item.id %>
    <%= submit_tag "Borrow Item" %>
  <% end %>
<% else %>
  <p>Sorry, this item is currently unavailable to borrow.</p>
<% end %>

<p> ------------------ </p>

<% if current_user.id == @item.user_id%>
  <h3>Private</h3>
  <p>Hi <%= @user.name %></p>
  <p>Private User Stuff and Ability to edit</p>
  <br/>

  <%= form_tag edit_item_path, method: :get do %>
    <%= submit_tag "Edit Item" %>
  <% end %>

<% end %>
