<%= render "errors" %>
<%= render "layouts/overdue" %>
<div class="w-50">
<h1><%= link_to @item.title, @item %></h1>
<img src="<%= @item.image %>"><br/>
<b>Owner:</b> <%= link_to @user.name, @user %><br/>
<b>Average rating:</b> <%= @item.get_average_rating %> <br/>
<% if @item.author && @item.author != "" %>
  <b>Author:</b> <%= @item.author %><br/>
<% end %>

<% if @item.genre && @item.genre != "" %>
  <b>Genre:</b> <%= @item.genre %><br/>
<% end %>

<% if @item.description && @item.description != "" %>
  <b>Description:</b> <%= @item.description %>
<% end %>
<br/>
<br/>

<p>This item has been loaned a total of <b><%= @item.get_loans.count %></b> times.</p>

<% if @item.is_available? %>
  <%= form_tag borrow_path, method: :post do %>
    <%= hidden_field_tag 'loan[item_id]', @item.id %>
    <%= submit_tag "Borrow Item", :class => "btn btn-sm btn-outline-secondary", :data => {:confirm => 'Are you sure?'} %>
  <% end %>
<% else %>
  <p>Sorry, this item is currently unavailable to borrow. Check back on <b><%= @item.get_loans.last.due_date %></b></p>

  <% if @item.get_loans.any? %>
    <% if @item.get_loans.last.overdue %>
      <p class="text-danger">Overdue Item</p>
    <% end %>
  <% end %>
<% end %>
<hr>

<% if current_user.id == @item.user_id%>
  <%= link_to 'Edit Item', edit_item_path, :method => "get", :class => "btn btn-sm btn-outline-secondary" %>
<% end %>
</div>
