<!DOCTYPE html>
<html>
  <head>
    <title>Lend-to-Friend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand mr-auto mr-lg-0" href="#">Lend-to-Friend</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/items">All Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">All Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%=current_user.id%>">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/users/<%=current_user.id%>/loans">My Loans</a>
              <a class="dropdown-item" href="/users/<%=current_user.id%>/edit">Account Settings</a>
              <%=link_to "Log out", destroy_user_session_path, :method => :delete, class: "dropdown-item"%>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="wrapper mt-4">
      <div class= "container">
        <% if notice  %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert  %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
